  .navbar {
            background-color: #dc3545; /* Change the background color to red */
        }

        /* Add a white line above the list of nav bar links */
        .navbar::before {
            content: '';
            display: block;
            height: 4px; /* Thickness of the line */
            background-color: white; /* Color of the line */
        }

        /* Update the .navbar class for the ul to remove background-color and ensure padding and margins */
        .navbar ul {
            list-style-type: none;
            padding-left: 0; /* Removes padding on the left */
            margin-bottom: 0; /* Ensures no bottom margin */
            display: flex; /* Aligns items in a row */
            flex-direction: row;
            justify-content: flex-start; /* Aligns items to the start */
            align-items: center; /* Center items vertically */
            border-top: 1px solid white; /* Adds the white line above the navbar */
        }

        /* Style for the navbar links */
        .navbar ul li a {
            color: #f2f2f2; /* white color for the text */
            text-align: center;
            padding: 14px 20px; /* Adjust padding as needed */
            text-decoration: none; /* Removes underline from links */
            display: block; /* Make the anchor fill the li */
        }

        /* Style for the hover state of the navbar links */
        .navbar ul li a:hover {
            background-color: #7b1e27; /* Light gray background on hover */
            color: rgb(255, 255, 255); /* Black text on hover */
        }

        .navbar-dark.bg-dark {
            background-color: #dc3545 !important; /* Ensures override of default styles */
        }


    .add-button-container {
            display: inline-block;
            padding: 5px;
            border: 2px solid #ffffff; /* Adding border */
            border-radius: 5px; /* Adjust border radius */
        }

        /* Style for the "+" button */
        .add-button {
            
            color: white;
            text-align: center;
            text-decoration: none;
            font-size: 20px;
            
            width: 30px;
            height: 30px;
        }

        /* Change button color on hover */
        .add-button:hover {
            background-color: #7b1e27;
            width: 30px;
            height: 30px;
        }
      .GP{
          height: 525px;
          padding-right: 5px;
      }
      .col-lg-6 col-md-8 mx-auto{
          padding-left: 50px;
      }
 .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }

      .b-example-divider {
        width: 100%;
        height: 3rem;
        background-color: rgba(0, 0, 0, .1);
        border: solid rgba(0, 0, 0, .15);
        border-width: 1px 0;
        box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
      }

      .b-example-vr {
        flex-shrink: 0;
        width: 1.5rem;
        height: 100vh;
      }

      .bi {
        vertical-align: -.125em;
        fill: currentColor;
      }

      .nav-scroller {
        position: relative;
        z-index: 2;
        height: 2.75rem;
        overflow-y: hidden;
      }

      .nav-scroller .nav {
        display: flex;
        flex-wrap: nowrap;
        padding-bottom: 1rem;
        margin-top: -1px;
        overflow-x: auto;
        text-align: center;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
      }

      .btn-bd-primary {
        --bd-violet-bg: #712cf9;
        --bd-violet-rgb: 112.520718, 44.062154, 249.437846;

        --bs-btn-font-weight: 600;
        --bs-btn-color: var(--bs-white);
        --bs-btn-bg: var(--bd-violet-bg);
        --bs-btn-border-color: var(--bd-violet-bg);
        --bs-btn-hover-color: var(--bs-white);
        --bs-btn-hover-bg: #6528e0;
        --bs-btn-hover-border-color: #6528e0;
        --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
        --bs-btn-active-color: var(--bs-btn-hover-color);
        --bs-btn-active-bg: #5a23c8;
        --bs-btn-active-border-color: #5a23c8;
      }

      .bd-mode-toggle {
        z-index: 1500;
      }

      .bd-mode-toggle .dropdown-menu .active .bi {
        display: block !important;
      }
      .btn-primary {
        --bs-btn-color: #fff;
        --bs-btn-bg: #dc3545; /* Red */
        --bs-btn-border-color: #dc3545;
        --bs-btn-hover-color: #fff;
        --bs-btn-hover-bg: #c82333; /* Darker red for hover */
        --bs-btn-hover-border-color: #bd2130;
        --bs-btn-focus-shadow-rgb: 220, 53, 69;
        --bs-btn-active-color: #fff;
        --bs-btn-active-bg: #bd2130; /* Even darker red for active */
        --bs-btn-active-border-color: #b21f2d;
        --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
        --bs-btn-disabled-color: #fff;
        --bs-btn-disabled-bg: #dc3545;
        --bs-btn-disabled-border-color: #dc3545;
    }
    
    .my-custom-margin {
       margin-top: 6rem; /* or any value you prefer */
    }
    /* Remove the default list styling and padding from the ul */
    /* Make the navigation bar red */
        .navbar {
            background-color: #dc3545; /* Change the background color to red */
        }

        /* Add a white line above the list of nav bar links */
        .navbar::before {
            content: '';
            display: block;
            height: 4px; /* Thickness of the line */
            background-color: white; /* Color of the line */
        }

        /* Update the .navbar class for the ul to remove background-color and ensure padding and margins */
        .navbar ul {
            list-style-type: none;
            padding-left: 0; /* Removes padding on the left */
            margin-bottom: 0; /* Ensures no bottom margin */
            display: flex; /* Aligns items in a row */
            flex-direction: row;
            justify-content: flex-start; /* Aligns items to the start */
            align-items: center; /* Center items vertically */
            border-top: 1px solid white; /* Adds the white line above the navbar */
        }

        /* Style for the navbar links */
        .navbar ul li a {
            color: #f2f2f2; /* white color for the text */
            text-align: center;
            padding: 14px 20px; /* Adjust padding as needed */
            text-decoration: none; /* Removes underline from links */
            display: block; /* Make the anchor fill the li */
        }

        /* Style for the hover state of the navbar links */
        .navbar ul li a:hover {
            background-color: #7b1e27; /* Light gray background on hover */
            color: rgb(255, 255, 255); /* Black text on hover */
        }

        .navbar-dark.bg-dark {
            background-color: #dc3545 !important; /* Ensures override of default styles */
        }


    .add-button-container {
            display: inline-block;
            padding: 5px;
            border: 2px solid #ffffff; /* Adding border */
            border-radius: 5px; /* Adjust border radius */
        }

        /* Style for the "+" button */
        .add-button {
            
            color: white;
            text-align: center;
            text-decoration: none;
            font-size: 20px;
            
            width: 30px;
            height: 30px;
        }

        /* Change button color on hover */
        .add-button:hover {
            background-color: #7b1e27;
            width: 30px;
            height: 30px;
        }
        #GP{
            height: 600px;
        }
  .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }

      .b-example-divider {
        width: 100%;
        height: 3rem;
        background-color: rgba(0, 0, 0, .1);
        border: solid rgba(0, 0, 0, .15);
        border-width: 1px 0;
        box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
      }

      .b-example-vr {
        flex-shrink: 0;
        width: 1.5rem;
        height: 100vh;
      }

      .bi {
        vertical-align: -.125em;
        fill: currentColor;
      }

      .nav-scroller {
        position: relative;
        z-index: 2;
        height: 2.75rem;
        overflow-y: hidden;
      }

      .nav-scroller .nav {
        display: flex;
        flex-wrap: nowrap;
        padding-bottom: 1rem;
        margin-top: -1px;
        overflow-x: auto;
        text-align: center;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
      }

      .btn-bd-primary {
        --bd-violet-bg: #712cf9;
        --bd-violet-rgb: 112.520718, 44.062154, 249.437846;

        --bs-btn-font-weight: 600;
        --bs-btn-color: var(--bs-white);
        --bs-btn-bg: var(--bd-violet-bg);
        --bs-btn-border-color: var(--bd-violet-bg);
        --bs-btn-hover-color: var(--bs-white);
        --bs-btn-hover-bg: #6528e0;
        --bs-btn-hover-border-color: #6528e0;
        --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
        --bs-btn-active-color: var(--bs-btn-hover-color);
        --bs-btn-active-bg: #5a23c8;
        --bs-btn-active-border-color: #5a23c8;
      }

      .bd-mode-toggle {
        z-index: 1500;
      }

      .bd-mode-toggle .dropdown-menu .active .bi {
        display: block !important;
      }
      .btn-primary {
        --bs-btn-color: #fff;
        --bs-btn-bg: #dc3545; /* Red */
        --bs-btn-border-color: #dc3545;
        --bs-btn-hover-color: #fff;
        --bs-btn-hover-bg: #c82333; /* Darker red for hover */
        --bs-btn-hover-border-color: #bd2130;
        --bs-btn-focus-shadow-rgb: 220, 53, 69;
        --bs-btn-active-color: #fff;
        --bs-btn-active-bg: #bd2130; /* Even darker red for active */
        --bs-btn-active-border-color: #b21f2d;
        --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
        --bs-btn-disabled-color: #fff;
        --bs-btn-disabled-bg: #dc3545;
        --bs-btn-disabled-border-color: #dc3545;
    }
    
    .my-custom-margin {
       margin-top: 6rem; /* or any value you prefer */
    }
    /* Remove the default list styling and padding from the ul */
    /* Make the navigation bar red */
        .navbar {
            background-color: #dc3545; /* Change the background color to red */
        }

        /* Add a white line above the list of nav bar links */
        .navbar::before {
            content: '';
            display: block;
            height: 4px; /* Thickness of the line */
            background-color: white; /* Color of the line */
        }

        /* Update the .navbar class for the ul to remove background-color and ensure padding and margins */
        .navbar ul {
            list-style-type: none;
            padding-left: 0; /* Removes padding on the left */
            margin-bottom: 0; /* Ensures no bottom margin */
            display: flex; /* Aligns items in a row */
            flex-direction: row;
            justify-content: flex-start; /* Aligns items to the start */
            align-items: center; /* Center items vertically */
            border-top: 1px solid white; /* Adds the white line above the navbar */
        }

        /* Style for the navbar links */
        .navbar ul li a {
            color: #f2f2f2; /* white color for the text */
            text-align: center;
            padding: 14px 20px; /* Adjust padding as needed */
            text-decoration: none; /* Removes underline from links */
            display: block; /* Make the anchor fill the li */
        }

        /* Style for the hover state of the navbar links */
        .navbar ul li a:hover {
            background-color: #7b1e27; /* Light gray background on hover */
            color: rgb(255, 255, 255); /* Black text on hover */
        }

        .navbar-dark.bg-dark {
            background-color: #dc3545 !important; /* Ensures override of default styles */
        }


    .add-button-container {
            display: inline-block;
            padding: 5px;
            border: 2px solid #ffffff; /* Adding border */
            border-radius: 5px; /* Adjust border radius */
        }

        /* Style for the "+" button */
        .add-button {
            
            color: white;
            text-align: center;
            text-decoration: none;
            font-size: 20px;
            
            width: 30px;
            height: 30px;
        }

        /* Change button color on hover */
        .add-button:hover {
            background-color: #7b1e27;
            width: 30px;
            height: 30px;
        }
        #GP{
            height: 600px;
        }
 .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }

      .b-example-divider {
        width: 100%;
        height: 3rem;
        background-color: rgba(0, 0, 0, .1);
        border: solid rgba(0, 0, 0, .15);
        border-width: 1px 0;
        box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
      }

      .b-example-vr {
        flex-shrink: 0;
        width: 1.5rem;
        height: 100vh;
      }

      .bi {
        vertical-align: -.125em;
        fill: currentColor;
      }

      .nav-scroller {
        position: relative;
        z-index: 2;
        height: 2.75rem;
        overflow-y: hidden;
      }

      .nav-scroller .nav {
        display: flex;
        flex-wrap: nowrap;
        padding-bottom: 1rem;
        margin-top: -1px;
        overflow-x: auto;
        text-align: center;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
      }

      .btn-bd-primary {
        --bd-violet-bg: #712cf9;
        --bd-violet-rgb: 112.520718, 44.062154, 249.437846;

        --bs-btn-font-weight: 600;
        --bs-btn-color: var(--bs-white);
        --bs-btn-bg: var(--bd-violet-bg);
        --bs-btn-border-color: var(--bd-violet-bg);
        --bs-btn-hover-color: var(--bs-white);
        --bs-btn-hover-bg: #6528e0;
        --bs-btn-hover-border-color: #6528e0;
        --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
        --bs-btn-active-color: var(--bs-btn-hover-color);
        --bs-btn-active-bg: #5a23c8;
        --bs-btn-active-border-color: #5a23c8;
      }

      .bd-mode-toggle {
        z-index: 1500;
      }

      .bd-mode-toggle .dropdown-menu .active .bi {
        display: block !important;
      }
      .btn-primary {
        --bs-btn-color: #fff;
        --bs-btn-bg: #dc3545; /* Red */
        --bs-btn-border-color: #dc3545;
        --bs-btn-hover-color: #fff;
        --bs-btn-hover-bg: #c82333; /* Darker red for hover */
        --bs-btn-hover-border-color: #bd2130;
        --bs-btn-focus-shadow-rgb: 220, 53, 69;
        --bs-btn-active-color: #fff;
        --bs-btn-active-bg: #bd2130; /* Even darker red for active */
        --bs-btn-active-border-color: #b21f2d;
        --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
        --bs-btn-disabled-color: #fff;
        --bs-btn-disabled-bg: #dc3545;
        --bs-btn-disabled-border-color: #dc3545;
    }
    
    .my-custom-margin {
       margin-top: 6rem; /* or any value you prefer */
    }
    /* Remove the default list styling and padding from the ul */
    /* Make the navigation bar red */
        .navbar {
            background-color: #dc3545; /* Change the background color to red */
        }

        /* Add a white line above the list of nav bar links */
        .navbar::before {
            content: '';
            display: block;
            height: 4px; /* Thickness of the line */
            background-color: white; /* Color of the line */
        }

        /* Update the .navbar class for the ul to remove background-color and ensure padding and margins */
        .navbar ul {
            list-style-type: none;
            padding-left: 0; /* Removes padding on the left */
            margin-bottom: 0; /* Ensures no bottom margin */
            display: flex; /* Aligns items in a row */
            flex-direction: row;
            justify-content: flex-start; /* Aligns items to the start */
            align-items: center; /* Center items vertically */
            border-top: 1px solid white; /* Adds the white line above the navbar */
        }

        /* Style for the navbar links */
        .navbar ul li a {
            color: #f2f2f2; /* white color for the text */
            text-align: center;
            padding: 14px 20px; /* Adjust padding as needed */
            text-decoration: none; /* Removes underline from links */
            display: block; /* Make the anchor fill the li */
        }

        /* Style for the hover state of the navbar links */
        .navbar ul li a:hover {
            background-color: #7b1e27; /* Light gray background on hover */
            color: rgb(255, 255, 255); /* Black text on hover */
        }

        .navbar-dark.bg-dark {
            background-color: #dc3545 !important; /* Ensures override of default styles */
        }


    .add-button-container {
            display: inline-block;
            padding: 5px;
            border: 2px solid #ffffff; /* Adding border */
            border-radius: 5px; /* Adjust border radius */
        }

        /* Style for the "+" button */
        .add-button {
            
            color: white;
            text-align: center;
            text-decoration: none;
            font-size: 20px;
            
            width: 30px;
            height: 30px;
        }

        /* Change button color on hover */
        .add-button:hover {
            background-color: #7b1e27;
            width: 30px;
            height: 30px;
        }
        #GP{
            height: 600px;
        }
    .navbar {
            background-color: #dc3545; /* Change the background color to red */
        }

        /* Add a white line above the list of nav bar links */
        .navbar::before {
            content: '';
            display: block;
            height: 4px; /* Thickness of the line */
            background-color: white; /* Color of the line */
        }

        /* Update the .navbar class for the ul to remove background-color and ensure padding and margins */
        .navbar ul {
            list-style-type: none;
            padding-left: 0; /* Removes padding on the left */
            margin-bottom: 0; /* Ensures no bottom margin */
            display: flex; /* Aligns items in a row */
            flex-direction: row;
            justify-content: flex-start; /* Aligns items to the start */
            align-items: center; /* Center items vertically */
            border-top: 1px solid white; /* Adds the white line above the navbar */
        }

        /* Style for the navbar links */
        .navbar ul li a {
            color: #f2f2f2; /* white color for the text */
            text-align: center;
            padding: 14px 20px; /* Adjust padding as needed */
            text-decoration: none; /* Removes underline from links */
            display: block; /* Make the anchor fill the li */
        }

        /* Style for the hover state of the navbar links */
        .navbar ul li a:hover {
            background-color: #7b1e27; /* Light gray background on hover */
            color: rgb(255, 255, 255); /* Black text on hover */
        }

        .navbar-dark.bg-dark {
            background-color: #dc3545 !important; /* Ensures override of default styles */
        }


    .add-button-container {
            display: inline-block;
            padding: 5px;
            border: 2px solid #ffffff; /* Adding border */
            border-radius: 5px; /* Adjust border radius */
        }

        /* Style for the "+" button */
        .add-button {
            
            color: white;
            text-align: center;
            text-decoration: none;
            font-size: 20px;
            
            width: 30px;
            height: 30px;
        }

        /* Change button color on hover */
        .add-button:hover {
            background-color: #7b1e27;
            width: 30px;
            height: 30px;
        }
.navbar {
            background-color: #dc3545; /* Change the background color to red */
        }

        /* Add a white line above the list of nav bar links */
        .navbar::before {
            content: '';
            display: block;
            height: 4px; /* Thickness of the line */
            background-color: white; /* Color of the line */
        }

        /* Update the .navbar class for the ul to remove background-color and ensure padding and margins */
        .navbar ul {
            list-style-type: none;
            padding-left: 0; /* Removes padding on the left */
            margin-bottom: 0; /* Ensures no bottom margin */
            display: flex; /* Aligns items in a row */
            flex-direction: row;
            justify-content: flex-start; /* Aligns items to the start */
            align-items: center; /* Center items vertically */
            border-top: 1px solid white; /* Adds the white line above the navbar */
        }

        /* Style for the navbar links */
        .navbar ul li a {
            color: #f2f2f2; /* white color for the text */
            text-align: center;
            padding: 14px 20px; /* Adjust padding as needed */
            text-decoration: none; /* Removes underline from links */
            display: block; /* Make the anchor fill the li */
        }

        /* Style for the hover state of the navbar links */
        .navbar ul li a:hover {
            background-color: #7b1e27; /* Light gray background on hover */
            color: rgb(255, 255, 255); /* Black text on hover */
        }

        .navbar-dark.bg-dark {
            background-color: #dc3545 !important; /* Ensures override of default styles */
        }


    .add-button-container {
            display: inline-block;
            padding: 5px;
            border: 2px solid #ffffff; /* Adding border */
            border-radius: 5px; /* Adjust border radius */
        }

        /* Style for the "+" button */
        .add-button {
            
            color: white;
            text-align: center;
            text-decoration: none;
            font-size: 20px;
            
            width: 30px;
            height: 30px;
        }

        /* Change button color on hover */
        .add-button:hover {
            background-color: #7b1e27;
            width: 30px;
            height: 30px;
        }